mixin pagination
    .pagination
        a.current-page(href="#")
            span.current-page__number 1
        a.pagination-item(href="#") 2
        a.pagination-item(href="#") 3
        a.pagination-item(href="#") ...
        a.pagination-item(href="#") 15
        a.next-btn(href="#")
            i.next-btn__arrow.material-icons arrow_forward
    span.pagination-descr 1 – 12 из 100+ вариантов аренды
        