.rating
    i.rating-icon.material-icons star_border
    i.rating-icon.material-icons star_border
    i.rating-icon.material-icons star_border
    i.rating-icon.material-icons star_border
    i.rating-icon.material-icons star_border
