mixin info(icon, infoName, infoDescr)
  .info-item
    i.info-item__icon.material-icons=icon
    .info-item__about
      p.info-item__about.info__name=infoName
      p.info-item__about.info__descr=infoDescr



