include ../components/colors__item/colors__item.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    .wrapper
      .colors
        +colors('dark-100', 'Dark Shade 100%', '#1F2041')
        +colors('dark-75',  'Dark Shade 75%', '#1F2041')
        +colors('dark-50',  'Dark Shade 50%','#1F2041')
        +colors('dark-25',  'Dark Shade 25%', '#1F2041')
        +colors('dark-5',   'Dark Shade 5%', '#1F2041')
        +colors('purple',   'Purple', '#BC9CFF')
        +colors('green',    'Green',  '#6FCF97')
      

      