include ../components/text__field/text__field.pug
include ../components/checkbox/checkbox.pug
include ../components/button/button.pug
include ../components/toggle/toggle.pug
include ../components/info/info.pug
include ../components/bullet-list/bullet-list.pug
include ../components/datepicker/datepicker
include ../components/dropdown/dropdown
include ../components/masked-textfield/masked-textfield


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    body
        +inputField('Default', 'Email')
        +inputField('Hover / Focus', 'This is pretty awesome', 'text__field-input-hover')
        .checkbox
            +checkbox('Можно курить')
            +checkbox('Можно с питомцами', 'true')
            +checkbox('Можно пригласить гостей (до 10 человек)', 'true')

        include ../components/radio-buttons/radio-buttons.pug

        +toggle-button('true')
        +toggle-button

        +button('click me')(class='registration-btn')
        +button('click me')(class='login-btn')
        +button('click me')(class='reset-btn')
        +button('click me')(class='apply-btn')
        +payButton('перейти к оплате')(class='pay-btn')

        +info('insert_emoticon', 'Комфорт', 'Шумопоглощающие стены')

        

        +bullet-list

        include ../components/rangeslider/rangeslider
        +datepicker

        +dropdown
        +masked-textfield
        
        
       
       

        