include ../components/text__field/text__field.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        +inputField('Default', 'Email')
        +inputField('Hover / Focus', 'This is pretty awesome', 'text__field-input-hover')
        
