@mixin colors-square($color) {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  background: $color;
}
@mixin widget-title {
  font-family: 'Quicksand-Bold' ;
  font-size: 24px ;
  line-height: 29px ;
  color: $dark-shade-100;
}

@mixin title-inside-widgets {
  font-family: 'Quicksand-Bold' ;
  font-size: 19px ;
  line-height: 23px ;
  color: $dark-shade-100;
}

@mixin label-text {
  font-family: 'Montserrat-Bold' ;
  font-size: 12px ;
  line-height: 15px ;
  color: $dark-shade-75;
  text-transform: uppercase;
}


@mixin body-text {
  font-family: 'Montserrat-Regular' ;
  font-size: 19px ;
  line-height: 24px ;
  color: $dark-shade-75;
}

@mixin titles ($fontS, $lineH) {
  font-family: 'Montserrat-Regular' ;
  font-size: $fontS;
  line-height: $lineH;
  color: $dark-shade-25;
}