
.types__items
    h1.types__item-title.h1-title H1
    p.types__item-text.h1-text This one is the sub-section or widget title
.types__items
    h2.types__item-title.h2-title H2
    p.types__item-text.h2-text Next one is the item title inside widgets
.types__items
    h3.types__item-title.h3-title H3
    p.types__item-text.h3-text This is a label or CTA text
.types__items
    h4.types__item-title.h4-title Body
    p.types__item-text.h4-text This is the body text which is used for most of the design, like paragraphs, lists, etc.



