mixin colors(className, descriptionName, descriptionHash )
    .colors__item
      .colors__item-square(class=className)
      .colors__item-description
        p.colors__item-description.color__name=descriptionName
        p.colors__item-description.color__hash=descriptionHash
          