
.colors__item {
    
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-bottom: 20px;
   

    .colors__item-square {
        margin-right: 40px;
    }



    .dark-100{
        @include colors-square($dark-shade-100)
    }
    .dark-75{
        @include colors-square($dark-shade-75)
    }
    .dark-50{
        @include colors-square($dark-shade-50)
    }
    .dark-25{
        @include colors-square($dark-shade-25)
    }
    .dark-5{
        @include colors-square($dark-shade-5)
    }
    .purple{
        @include colors-square($purple)
    }
    .green{
        @include colors-square($green)
    }
}




.colors__item-description .color__name {
    font-family:  'Quicksand-Bold';
    padding-bottom: 10px;
}

.color__hash {
    font-family:  'Quicksand-Regular';
}

